*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;

}
.nav-bar img{
    width: 170px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 50px 50px;
    width: 1150px;
}
.nav-bar ul li{
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.nav-bar .btn{
    width: 130px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px;
}
.nav-menu{
    width: 100px;
    height: 100px;
    background-color: black;
    display: none;
}

/* header */
.text-container{
    width: 531px;
    margin: 20px 50px;
}
header .text-container .heading p{
    width: 300px;
    height: 150px;
    text-align: left;
    font-size: 35px;
    font-weight: 600;
}
header .text-container .para{
    width: 300px;
    height: 100px;
    text-align: left;
    font-size: 13px;
}
header .text-container button{
    width: 170px;
    border: 1px solid rgb(37, 35, 35);
    background-color: black;
    color: white;
    border-radius: 9px;
    padding: 10px 10px;
}
.illustration-container img{
    width: 500px;
    padding: 0px 50px;
}

header{
    display: flex;
    justify-content: space-between;
}

/* company-logos */
.company-logos-container{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    margin: 30px 60px ;

}
.company-logos-container img{
    width: 100px;
    
}

.services-container{
    width: 550px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin:0px 80px;
    align-items: center;
}
.services-container .services-text{
   font-size: 12px;
   width: 400px;

}
.services-container .services-heading{
   font-size: 12px;
   background-color: #B9FF66;
   padding: 2px 7px;
   border-radius: 5px;
}

.servicesblock-container{
    width: auto;
    margin: 60px 30px;
}

.servicesblock-container .card-section{
    width: 1200px;
    margin: 20px 10px 2px;

}

.card-section .card{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 45px;
    box-shadow: 0 7px 0 #111;
}
.card-section{
    display: flex;
    justify-content:space-around;
    gap: 0px;
    

}

#card1{
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.left{
    width: 60%;
    margin-left: 20px;
}
.left h1{
    font-size: 30px;
    line-height: 1.25;
    font-weight: 500;
}
.left h1 span{
    background-color: #a8ff4f;
    padding: 3px 7px;
    border-radius: 6px;
}
.learn{
    display: flex;
    align-items: center;
    margin-top: 90px;
    gap: 15px;
}
.learn a{
    text-decoration: none;
    color: black;
}
#card2{
    background-color: #B9FF66;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.left{
    width: 60%;
    margin-left: 20px;
}
.left h1{
    font-size: 30px;
    line-height: 1.25;
    font-weight: 500;
}
.left h1 .sp{
    background-color: white;
    padding: 3px 7px;
    border-radius: 6px;
}
.learn{
    display: flex;
    align-items: center;
    margin-top: 90px;
    gap: 15px;
}
.learn a{
    text-decoration: none;
    color: black;
}
#card3{
    background-color: #191A23;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.left{
    width: 60%;
    margin-left: 20px;
}
.left h1{
    font-size: 30px;
    line-height: 1.25;
    font-weight: 500;
}
.left h1 .sp{
    background-color: white;
    padding: 3px 7px;
    border-radius: 6px;
}
.learn{
    display: flex;
    align-items: center;
    margin-top: 90px;
    gap: 15px;
}
.learn .l{
    text-decoration: none;
    color: white;
}
#card4{
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.left{
    width: 60%;
    margin-left: 20px;
}
.left h1{
    font-size: 30px;
    line-height: 1.25;
    font-weight: 500;
}
.left h1 span{
    background-color: #a8ff4f;
    padding: 3px 7px;
    border-radius: 6px;
}
.learn{
    display: flex;
    align-items: center;
    margin-top: 90px;
    gap: 15px;
}
.learn a{
    text-decoration: none;
    color: black;
}
#card5{
    background-color: #B9FF66;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.left{
    width: 60%;
    margin-left: 20px;
}
.left h1{
    font-size: 30px;
    line-height: 1.25;
    font-weight: 500;
}
.left h1 .sp{
    background-color: white;
    padding: 3px 7px;
    border-radius: 6px;
}
.learn{
    display: flex;
    align-items: center;
    margin-top: 90px;
    gap: 15px;
}
.learn a{
    text-decoration: none;
    color: black;
}

#card6{
    background-color: #191A23;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.left{
    width: 60%;
    margin-left: 20px;
}
.left h1{
    font-size: 30px;
    line-height: 1.25;
    font-weight: 500;
}
.left h1 span{
    background-color: #a8ff4f;
    padding: 3px 7px;
    border-radius: 6px;
}
.learn{
    display: flex;
    align-items: center;
    margin-top: 90px;
    gap: 15px;
}
.learn .l{
    text-decoration: none;
    color: white;
}

.proposal-container{
    width: 1100px;
    height: 350px;
    background-color: #F3F3F3;
    margin: 50px 80px;
    border: 1px solid none;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.proposal-container #proposal-heading{
    font-weight: 700;
    font-size: 30px;
    padding: 50px 0px 0px 40px;
}
.proposal-container #proposal-para{
    width: 600px;
    font-size: 20px;
    padding: 50px 0px 0px 40px;
}
.proposal-container #proposal-btn{
    width: 230px;
    padding: 15px 20px;
    margin: 20px 40px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
}

.case-container{
    width: 550px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin:0px 80px;
    align-items: center;
}
.case-container .case-heading{
    font-size: 12px;
    background-color: #B9FF66;
    padding: 2px 5px;
    width: 230px;
    border-radius: 5px;
}
.case-container .case-text{
    font-size: 12px;
    width: 500px;
}

.case-main-container{
    width: 1100px;
    height: 350px;
    background-color: black;
    margin: 50px 80px;
    border: 1px solid none;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    color: #FFFFFF;
}

.cc1{
    padding: 90px 40px 0px 50px;
    font-size: 14px;
    font-weight: 10px;
}
.cc2{
    padding: 90px 80px 0px 0px;
    font-size: 14px;
    font-weight: 10px;
}
.case-main-container hr{
    height: 200px;
    border: none;
    border-right: 1px solid #FFFFFF;
    margin: 80px 0px 80px;
}
.case-learn{
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 15px;
}
.case-learn a{
    text-decoration: none;
    color: #a8ff4f;
}




.Working-container{
    width: 550px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin:0px 80px;
    align-items: center;
}
.Working-container .working-heading{
    font-size: 12px;
    background-color: #B9FF66;
    padding: 2px 5px;
    width: 300px;
    border-radius: 5px;
}
.Working-container .working-text{
    font-size: 12px;
}

.working-main-container{
    width: 100px;
    margin: 50px 80px;
}
.working-main-container .wc1{
    width: 1100px;
    height: 180px;
    background-color: #a8ff4f;
    margin: 25px 0px;
    box-shadow: 0 3px 0 black;
    border: 1px solid black;
    border-radius: 25px;
}
.working-main-container .wc2{
    width: 1100px;
    height: 100px;
    background-color: #F3F3F3;
    margin: 25px 0px;
    box-shadow: 0 3px 0 black;
    border: 1px solid black;
    border-radius: 25px;
}

.content-container .left-content{
    width: 100px;
    display: flex;
    justify-content: space-around;
    gap: 0px;
    align-items: center;
}
.content-container .left-content h1{
    font-size: 50px;
}
.content-container .left-content p{
    font-size: 20px;
    padding: 0px 20px 0px;
}

.content-container{
    display: flex;
    justify-content: space-between;
    /* gap: 880px; */
    align-items: center;
    margin: 20px 40px 10px;
}
.content-container .right-content{
    width: 10px;
    margin: 5px 30px 1px 0px;
    
}
.content-container .right-content img{
    width: 50px;
}
.wc1 hr{
    width: 1000px;
    margin: 1px 40px 0px;
    border: 1px solid black;
}
.wc1 p{
    font-size: 12px;
    padding: 20px 100px 0px;
}

.content-container2 .left-content{
    width: 470px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

}
.content-container2 .left-content h1{
    font-size: 50px;
    
}
.content-container2 .left-content p{
    font-size: 20px;
    padding: 0px 20px 0px;
}

.content-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 10px;
}
.content-container2 .right-content{
    width: 10px;
    margin: 2px 30px 10px 0px;
    
}
.content-container2 .right-content img{
    width: 50px;
}

.team-container{
    width: 550px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin:0px 80px 50px;
    align-items: center;
}
.team-container .team-heading{
    font-size: 12px;
    background-color: #B9FF66;
    padding: 2px 10px;
    width: 100px;
    border-radius: 5px;
}
.team-container .team-text{
    font-size: 12px;
}

.team-main-container{
    width: 1000px;
    margin: 5px 80px;
}
.team-main-container .team-container1{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin:20px 10px;
}
.tc1{
    width: 300px;
    height: 220px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 4px 0px black;
    margin: 3px 30px;
}

.tc1-top{
    width: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 30px;
}
.top-right{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}
.top-right img{
    width: 70px;
    height: 70px;
}
.top-right p{
    font-size: 13px;
    width: 140px;
}
.top-right p span{
    font-weight: bold;
    font-size: 17px;
}

.tc1 hr{
    border: 1px solid black;
    width: 220px;
    margin: 0px 20px;
}
.tc1-bottom{
    width: 300px;
    font-size: 10px;
    padding: 20px 25px 30px 40px;
}

#btn-alone{
    width: 200px;
    background-color: black;
    color: #F3F3F3;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 0px 10px 930px;
}


.testimonial-container{
    width: 550px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin:0px 80px 50px;
    align-items: center;
}
.testimonial-container .testimonial-heading{
    font-size: 12px;
    background-color: #B9FF66;
    padding: 2px 10px;
    width: 170px;
    border-radius: 5px;
}
.testimonial-container .testimonial-text p{
    font-size: 12px;
    width: 390px;
}

.testimonial-container img{
    width: 1100px;
}
.testimonial-container{
    margin: 50px 80px;
}



.contact-container{
    width: 600px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin:0px 80px 50px;
    align-items: center;
}
.contact-container .contact-heading{
    font-size: 12px;
    background-color: #B9FF66;
    padding: 2px 20px;
    width: 170px;
    border-radius: 5px;
}
.contact-container .contact-text p{
    font-size: 12px;
    width: 390px;
}


.form-container{
    width: 1100px;
    height: 550px;
    border-radius: 25px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 550px;
    margin-left: 80px;
    margin-bottom: 80px;
}
.form-right img{
    width: 390px;
    height: 500px;
}

.send-message-btn{
    width: 350px;
    background-color: black;
    padding: 10px 10px;
    color: #F3F3F3;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

.form-left{
    width: 100px;
    margin: 40px 70px ;
}
.radio-btn{
    width: 500px;
    margin: 10px 0px 30px 5px;
}
input [type="radio"]{
    accent-color: #B9FF66;
}

.form-data input{
    width: 350px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    padding-left:20px ;
}
#message{
    width: 350px;
    height: 100px;
    padding: 0px 0px 60px 20px;
}


.footer-container{
    width: 1100px;
    height: 450px;
    background-color: black;
    margin: 0px 80px;
    border: 1px solid black;
    border-radius: 40px 40px 0px 0px;
}

.footer-nav img{
    width: 170px;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 40px;
}
.footer-nav ul li{
    list-style-type: none;
    display: inline;
    padding: 0px 20px;
}
.footer-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.footer-contact-us{
    color: white;
    display: flex;
    justify-content: space-between;
}
.footer-contact-us .footer-heading{
    width: 150px;
    background-color: #a8ff4f;
    color: #111;
    border: 1px solid none;
    border-radius: 9px;
    font-size: 13px;
}
.footer-left{
    margin: 10px 60px;
    line-height: 40px;
}
.footer-text{
    margin-top: 20px;
}
.footer-text #p{
    line-height: 20px;
}
.footer-right{
    width: 500px;
    height: 150px;
    background-color: #292A32;
    padding: 50px 60px;
    margin-right: 60px;
}
.footer-right button{
    width: 180px;
    color: #111;
    background-color: #a8ff4f;
    border: 1px solid #a8ff4f;
    border-radius: 7px;
    padding: 15px 10px;
}
.footer-right input{
    width: 180px;
    border: 1px solid white;
    border-radius: 7px;
    padding: 15px 10px;
    color: #FFFFFF;
    font-weight: bolder;
    background-color: #292A32;
}

.footer-container hr{
    border: 1px solid white;
    width: 1000px;
    margin: 30px 50px;
}
.footer-reference{
    width: 1000px;
    color: white;
    display: flex;
    gap: 40px;
    margin: 0px 60px;
}

button{
    cursor: pointer;
    max-width: ;
}


